// Place all the styles related to the timelines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.logout_wrapper {
  text-align: right;
}

div.timeline_wrapper {
  &.wrapper {
    width: 700px;
  }
  div.actions {
      
    div.alert {
      float: left;
    }
    div.post {
      float: right;
    }
  }
  
  div.timeline {
    div.per {
      border-radius: 5px;
      padding: 10px;
      margin-bottom: 20px;

      background-color: #DADADA;
      &.mine {
        background-color: #C1EFFF;
      }

      &.reply {
        margin-top: -20px;
      }
      
      p {
        margin: 0;
      }
      p.icon {
        display: inline-block;
        width: 70px;
        vertical-align: top;
        img {
          max-width: 100%;
          height: auto;
        }
      }
      p.message {
        display: inline-block;
        margin-left: 10px;
        width: 500px;
        vertical-align: top;
      }
      
      div.operation {
        display: inline-block;
        button {
          margin-bottom: 3px;
        }
        form.button_to {
          input.btn {
            width: 50px;
          }
        }
      }
      .like_data{
          border-top: 1px solid #fff;
          margin-top: 10px;
          padding-top: 10px;
      }
    }
  }
  
  div.user_filter {
    margin-bottom: 20px;
    div.actions {
      text-align: right;
    }
  }
}


