div.wrapper {
  width: 600px;
  margin: 0 auto;
  margin-top: 100px;
  p.alert {
    color: red;
    margin: 0;
    padding: 0;
  }
  div.links {
    text-align: right;
  }
}


/* ***************** 下記を追加 ************** */
#error_explanation {
  color: red;
}
/* ******************************************** */